In [1]:
import pandas as pd
import numpy as np

In [2]:
colors = ['black', 'red', 'blue', 'yellow']
cars = ['Mercedes', 'Porsche', 'BMW', 'Nissan', 'Honda', 'Subaru']
for color in colors:
    for car in cars:
        print(color, car)

black Mercedes
black Porsche
black BMW
black Nissan
black Honda
black Subaru
red Mercedes
red Porsche
red BMW
red Nissan
red Honda
red Subaru
blue Mercedes
blue Porsche
blue BMW
blue Nissan
blue Honda
blue Subaru
yellow Mercedes
yellow Porsche
yellow BMW
yellow Nissan
yellow Honda
yellow Subaru

In [3]:
cars = ['Mercedes', 'Porsche', 'BMW', 'Nissan', 'Honda', 'Subaru']
for index, value in enumerate(cars):
    print(index, value)

0 Mercedes
1 Porsche
2 BMW
3 Nissan
4 Honda
5 Subaru

In [4]:
df = pd.DataFrame({'Order_type': [1, 4, 6, 8], 'Sector_x': [150, 350, 0, 0],  'Sector_y': [2, 2, 300, 800]})

In [11]:
order_list = [1, 4, 6, 8]
list_df = list()
for z in order_list:
    ys = df.query(f'Order_type=={z}')
    for index, value in enumerate(df):
        mask = ((df['Order_type']==6) | (df['Order_type']==8))
        df.loc[mask, "Sector_x"] = df.loc[mask, "Sector_y"]
        df["Sector_3"] = df["Sector_x"] / df["Sector_y"]
    list_df.append(ys)

In [12]:
list_df

[   Order_type  Sector_x  Sector_y  Sector_3
 0           1       150         2      75.0,
    Order_type  Sector_x  Sector_y  Sector_3
 1           4       350         2     175.0,
    Order_type  Sector_x  Sector_y  Sector_3
 2           6       300       300       1.0,
    Order_type  Sector_x  Sector_y  Sector_3
 3           8       800       800       1.0]

In [13]:
new_df = pd.concat(list_df)
new_df

   Order_type  Sector_x  Sector_y  Sector_3
0           1       150         2      75.0
1           4       350         2     175.0
2           6       300       300       1.0
3           8       800       800       1.0