In [1]:
import pandas as pd
import numpy as np

In [2]:
colors = ['black', 'red', 'blue', 'yellow']
cars = ['Mercedes', 'Porsche', 'BMW', 'Nissan', 'Honda', 'Subaru']
for color in colors:
    for car in cars:
        print(color, car)

black Mercedes
black Porsche
black BMW
black Nissan
black Honda
black Subaru
red Mercedes
red Porsche
red BMW
red Nissan
red Honda
red Subaru
blue Mercedes
blue Porsche
blue BMW
blue Nissan
blue Honda
blue Subaru
yellow Mercedes
yellow Porsche
yellow BMW
yellow Nissan
yellow Honda
yellow Subaru

In [3]:
cars = ['Mercedes', 'Porsche', 'BMW', 'Nissan', 'Honda', 'Subaru']
for index, value in enumerate(cars):
    print(index, value)

0 Mercedes
1 Porsche
2 BMW
3 Nissan
4 Honda
5 Subaru

In [4]:
df = pd.DataFrame({'Order_type': [1, 4, 6, 8], 'Sector_x': [150, 350, 0, 0],  'Sector_y': [2, 2, 300, 800]})
df

   Order_type  Sector_x  Sector_y
0           1       150         2
1           4       350         2
2           6         0       300
3           8         0       800

In [5]:
list_df = list()
for state in df['Order_type'].unique():
    mask = ((df['Order_type']==6) | (df['Order_type']==8))
    df.loc[mask, "Sector_x"] = df.loc[mask, "Sector_y"]
    df["Sector_3"] = df["Sector_x"] / df["Sector_y"]
list_df.append(df)

In [6]:
list_df

[   Order_type  Sector_x  Sector_y  Sector_3
 0           1       150         2      75.0
 1           4       350         2     175.0
 2           6       300       300       1.0
 3           8       800       800       1.0]

In [7]:
new_df = pd.concat(list_df)
new_df

   Order_type  Sector_x  Sector_y  Sector_3
0           1       150         2      75.0
1           4       350         2     175.0
2           6       300       300       1.0
3           8       800       800       1.0

In [8]:
df_1 = pd.read_excel('Adidas US Sales Datasets.xlsx')
df_1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Adidas Sales Database,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
4,NaN,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9647,NaN,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50,64,3200,896.0,0.28,Outlet
9648,NaN,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41,105,4305,1377.6,0.32,Outlet
9649,NaN,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41,184,7544,2791.28,0.37,Outlet
9650,NaN,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42,70,2940,1234.8,0.42,Outlet
9651,NaN,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29,83,2407,649.89,0.27,Outlet

In [9]:
df_1.shape

(9652, 14)

In [10]:
df_1 = df_1.drop('Unnamed: 0',axis=1)

In [11]:
df_1 = df_1.drop(labels=[0,1,2], axis=0)

In [12]:
df_1.columns = df_1.iloc[0]

In [13]:
df_1 = df_1.drop(labels=3, axis=0)

In [14]:
df_1 = df_1.reset_index(drop=True)

In [15]:
df_1

3,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01 00:00:00,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
1,Foot Locker,1185732,2020-01-02 00:00:00,Northeast,New York,New York,Men's Athletic Footwear,50,1000,500000,150000,0.3,In-store
2,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
3,Foot Locker,1185732,2020-01-04 00:00:00,Northeast,New York,New York,Women's Athletic Footwear,45,850,382500,133875,0.35,In-store
4,Foot Locker,1185732,2020-01-05 00:00:00,Northeast,New York,New York,Men's Apparel,60,900,540000,162000,0.3,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Men's Apparel,50,64,3200,896.0,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24 00:00:00,Northeast,New Hampshire,Manchester,Women's Apparel,41,105,4305,1377.6,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Street Footwear,41,184,7544,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42,70,2940,1234.8,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22 00:00:00,Northeast,New Hampshire,Manchester,Women's Street Footwear,29,83,2407,649.89,0.27,Outlet

In [16]:
df_1['Invoice Date'] = pd.to_datetime(df_1['Invoice Date'])
df_1 = df_1.set_index('Invoice Date').sort_values(by='Invoice Date',ascending=True)
df_1

3,Retailer,Retailer ID,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
Invoice Date,,,,,,,,,,,,
2020-01-01,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000,0.5,In-store
2020-01-01,Foot Locker,1185732,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875,0.3,Outlet
2020-01-01,Foot Locker,1185732,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,0.32,Outlet
2020-01-01,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,0.61,Online
2020-01-01,Foot Locker,1185732,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,0.52,Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,Foot Locker,1185732,Northeast,Pennsylvania,Philadelphia,Men's Apparel,70,175,122500,42875,0.35,Outlet
2021-12-31,Foot Locker,1185732,Northeast,Pennsylvania,Philadelphia,Men's Apparel,63,47,2961,1362.06,0.46,Online
2021-12-31,Foot Locker,1185732,Northeast,Pennsylvania,Philadelphia,Men's Apparel,46,56,2576,1004.64,0.39,Outlet
2021-12-31,Amazon,1185732,Northeast,Maine,Portland,Men's Apparel,52,36,1872,692.64,0.37,Online
2021-12-31,Amazon,1185732,Northeast,Maine,Portland,Men's Apparel,55.0,125,68750.0,17187.5,0.25,Outlet

In [17]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9648 entries, 2020-01-01 to 2021-12-31
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   object
 2   Region            9648 non-null   object
 3   State             9648 non-null   object
 4   City              9648 non-null   object
 5   Product           9648 non-null   object
 6   Price per Unit    9648 non-null   object
 7   Units Sold        9648 non-null   object
 8   Total Sales       9648 non-null   object
 9   Operating Profit  9648 non-null   object
 10  Operating Margin  9648 non-null   object
 11  Sales Method      9648 non-null   object
dtypes: object(12)
memory usage: 979.9+ KB

In [18]:
dff = df_1.groupby([pd.PeriodIndex(df_1.index, freq="D"), 'Product'])[
                        ['Units Sold','Price per Unit']].agg({'Units Sold':'sum', 'Price per Unit':'mean'})
dff

3                                      Units Sold Price per Unit
Invoice Date Product
2020-01-01   Men's Street Footwear           1920      43.666667
             Women's Apparel                  441      65.333333
2020-01-02   Men's Athletic Footwear         1580      44.333333
             Men's Street Footwear            730      31.333333
2020-01-03   Men's Athletic Footwear          702      41.333333
...                                           ...            ...
2021-12-27   Men's Street Footwear           1314           59.6
2021-12-28   Men's Athletic Footwear          749           51.6
2021-12-29   Women's Street Footwear          557           49.0
2021-12-30   Women's Athletic Footwear        442           48.8
2021-12-31   Men's Apparel                    439           57.2

[2158 rows x 2 columns]

In [42]:
total_revenue = [] 
for date in df_1.index.get_level_values(0).unique():
    total = 0
    for product in df_1.loc[date].index.get_level_values(0):
             total = dff['Units Sold'] * dff['Price per Unit']
total_revenue.append(total)

In [50]:
total_revenue

[Invoice Date  Product
 2020-01-01    Men's Street Footwear             83840.0
               Women's Apparel                   28812.0
 2020-01-02    Men's Athletic Footwear      70046.666667
               Men's Street Footwear        22873.333333
 2020-01-03    Men's Athletic Footwear           29016.0
                                                ...
 2021-12-27    Men's Street Footwear             78314.4
 2021-12-28    Men's Athletic Footwear           38648.4
 2021-12-29    Women's Street Footwear           27293.0
 2021-12-30    Women's Athletic Footwear         21569.6
 2021-12-31    Men's Apparel                     25110.8
 Length: 2158, dtype: object]

In [57]:
df_total_revenue = pd.DataFrame(total_revenue)
df_total_revenue = df_total_revenue.T
df_total_revenue

                                                   0
Invoice Date Product
2020-01-01   Men's Street Footwear      83840.000000
             Women's Apparel            28812.000000
2020-01-02   Men's Athletic Footwear    70046.666667
             Men's Street Footwear      22873.333333
2020-01-03   Men's Athletic Footwear    29016.000000
...                                              ...
2021-12-27   Men's Street Footwear      78314.400000
2021-12-28   Men's Athletic Footwear    38648.400000
2021-12-29   Women's Street Footwear    27293.000000
2021-12-30   Women's Athletic Footwear  21569.600000
2021-12-31   Men's Apparel              25110.800000

[2158 rows x 1 columns]

In [69]:
df_1 = pd.read_csv('terrorist-attacks.csv')
df_1

,Entity,Code,Year,Terrorist attacks,Terrorism deaths,Attack method: Hijacking,Attack method: Hostage Taking (Barricade Incident),Attack method: Unarmed Assault,Attack method: Facility/Infrastructure Attack,Attack method: Hostage Taking (Kidnapping),...,Attack method: Armed Assault,Attack method: Bombing/Explosion,Death Age 100+,Death Age: 51-99,Death Age : 21-50,Death Age : 11-20,Death Age : 6-10,Death Age : 1-5,Terrorist Death Type : Suicide,Terrorist Death Type : Killed
0,Afghanistan,AFG,1970,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Afghanistan,AFG,1971,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,AFG,1972,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Afghanistan,AFG,1973,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Afghanistan,AFG,1974,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10512,Zimbabwe,ZWE,2017,3,0,0,1,0,2,0,...,0,0,0,0,0,0,0,0,0,0
10513,Zimbabwe,ZWE,2018,2,2,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,2
10514,Zimbabwe,ZWE,2019,2,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
10515,Zimbabwe,ZWE,2020,1,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
10516,Zimbabwe,ZWE,2021,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [70]:
df_1 = df_1.set_index('Year').sort_values(by='Year',ascending=True)
df_1

,Entity,Code,Terrorist attacks,Terrorism deaths,Attack method: Hijacking,Attack method: Hostage Taking (Barricade Incident),Attack method: Unarmed Assault,Attack method: Facility/Infrastructure Attack,Attack method: Hostage Taking (Kidnapping),Attack method: Assassination,Attack method: Armed Assault,Attack method: Bombing/Explosion,Death Age 100+,Death Age: 51-99,Death Age : 21-50,Death Age : 11-20,Death Age : 6-10,Death Age : 1-5,Terrorist Death Type : Suicide,Terrorist Death Type : Killed
Year,,,,,,,,,,,,,,,,,,,,
1970,Afghanistan,AFG,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1970,People's Republic of the Congo,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1970,Peru,PER,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1970,Philippines,PHL,10,41,0,0,0,0,0,1,0,6,0,0,1,0,0,4,0,41
1970,Belgium,BEL,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021,Chile,CHL,45,1,1,0,0,28,0,0,13,3,0,0,0,0,0,1,0,1
2021,Germany,DEU,13,3,0,0,0,9,0,0,1,3,0,0,0,0,0,1,0,3
2021,Norway,NOR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2021,Grenada,GRD,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2021,Zimbabwe,ZWE,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
dff = df_1.groupby([pd.PeriodIndex(df_1.index, freq="Y"), 'Entity'])[
                        ['Terrorist attacks', 'Terrorism deaths']
                        ].agg('sum')
dff

                          Terrorist attacks  Terrorism deaths
Year Entity
1970 Afghanistan                          0                 0
     Africa                               4                 1
     Albania                              0                 0
     Algeria                              0                 0
     Andorra                              0                 0
...                                     ...               ...
2021 Yemen                              290               859
     Yemen Arab Republic                  0                 0
     Zaire                                0                 0
     Zambia                               1                 0
     Zimbabwe                             0                 0

[10517 rows x 2 columns]

In [72]:
terror_attacks = []
civilian_deaths_from_terror = []
for date in dff.index.get_level_values(0).unique():
    terror_sum = 0
    death_sum = 0
    eliminated_terrorists_sum = 0
    for country in dff.loc[date].index.get_level_values(0):
        terror_sum += dff.loc[date, country]['Terrorist attacks']
        death_sum += dff.loc[date, country]['Terrorism deaths']
    terror_attacks.append(terror_sum)
    civilian_deaths_from_terror.append(death_sum)

In [73]:
df_total_attack = pd.DataFrame(list(zip(terror_attacks, civilian_deaths_from_terror)), 
             index=dff.index.get_level_values(0).unique(),
             columns=['terror_attacks', 'civilian_deaths_from_terror'])
df_total_attack

      terror_attacks  civilian_deaths_from_terror
Year
1970            2053                          645
1971            1601                          666
1972            2146                         1921
1973            1731                         1418
1974            2110                         2117
1975            2728                         2210
1976            3384                         2360
1977            4954                         1691
1978            5321                         5242
1979            8967                         6876
1980            7966                        11278
1981            7546                        12680
1982            7342                        13010
1983            8687                        24363
1984           10991                        28551
1985            9006                        20874
1986            9389                        17034
1987           10272                        22043
1988           12775                        25241
1989           14635                        29189
1990           13587                        25315
1991           15719                        30005
1992           18327                        36986
1994           12602                        29592
1995           11489                        23184
1996           11282                        26379
1997           11581                        41882
1998            3551                        18117
1999            5343                        13035
2000            6997                        17063
2001            6950                        27015
2002            4919                        18413
2003            4841                        12911
2004            4522                        22633
2005            7885                        25168
2006           10873                        37107
2007           12738                        50950
2008           18875                        36800
2009           18675                        36928
2010           19110                        31254
2011           20141                        32907
2012           33875                        61748
2013           47813                        88841
2014           67240                       178257
2015           59811                       155547
2016           55606                       140534
2017           44994                       107248
2018           38733                        92775
2019           33540                        81361
2020           33207                        91124
2021           19546                        45992